* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration-line: none;
}

a:link {
    text-decoration-line: none;
}

#footer{
    width: 100%;
    align-self: center;
    padding: 40px 100px 0px 100px;
    background: black;
    border: none;
    border-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    vertical-align: bottom;
    align-content: flex-end;
    position: relative;
    bottom: 0;
    left: 0;
    border-top: solid 10px;
    box-shadow: 2px 2px 15px 2px gray;
    justify-content: space-between;
    margin-bottom: -50px;
}

#footer1{
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-between;
}

.foot_text{
    text-align: center;
    color: gray;
    margin-top: 0px;
}

.foot_text_—Åop{
    text-align: center;
    color: gray;
    margin-top: 0px;
}  

.none{
    position: static;
}

.hidtext{
    color: aliceblue;
}

.navbar{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    box-shadow: 2px 2px 2px 2px;
}

.product_body{
    float: left;
    position: relative;
    display: flex;
}

#navbar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
    border-bottom: solid 3px gray;
    box-shadow: 0px 2px -35px 2px gray;
    padding: 12px 100px;
    margin: 0px 0px;
    border: 0px solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    vertical-align: middle;
    top: 0;
    gap: 1.5rem;
}

#navbar1 ul li{
    position: relative;
    float: left;
    transition: .5s;
}

#navbar1 ul li a{
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding: 15px;
}

a {
    transition: .5s;
}

#navbar1 ul li:hover{
    transform: scale(1.2);
}

#navbar1 ul li a:hover{
    font-weight: 1000;
    text-shadow: 12px 12px 35px 2px gray;
}

.page_btn{
    color: black;
}

.page_btn:link{
    text-decoration-line: none;
}

.foot_btn{
    color: gray;
}

.foot_btn:hover{
    transform: scale(1.2);
    margin-left: 20px;
}

#logo{
    font-size: 15px;
}

.add{
    background-color: antiquewhite;
    padding: 5px 5px;
}

#logo:hover{
    font-weight: 600;
}

#mainbody{
    width: fit-content;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
    background-color: aliceblue;
    border: none;
    float: inline-start;
    border-radius: 0px;
    border-bottom: solid 3px gray;
    box-shadow: 0px 0px 12px 2px black;
    padding: 20px 100px;
    margin: 50px auto 50px auto;
    vertical-align: middle;
}

.error_text{
    text-align: left;
}

.wrapper{
    min-height: 100%;
    margin-top: -100px;
    margin-bottom: -180px;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: rgb(199, 199, 199);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

.headtext{
    text-align: center;
    margin-bottom: 20px;
}

.normtext{
    text-align: justify;
}

.login{
    display: inline;
    align-content: center;
    width: 100%;
    align-self: center;
}

.login form{
    height: 50px;
    margin: 0%;
}

html, body{
    height: 100%;
    margin: 0;
}

input.email{
    width: 400px;
    height: 40px;
    border: 1px solid;
    text-align: left;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

.form-radio{
    color: white;
}

.admin_t{
    border: 1px solid;
    width: 100%;
    padding: 0px 10px;
    text-align: center;
}

.admin_t1{
    border: 1px solid;
    padding: 0px 10px;
    text-align: center;
}

.edit{
    height: fit-content;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
}

.edit-form{
    width: 500px;
    height: fit-content;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    margin-top: 100px;
}

.edit-form.active{
    display: flex;
    border: 1px solid;
    background-color: red;
}

.cart{
    width: 500px;
    height: fit-content;
    background-color: white;
    right: -100%;
    border: 1px solid;
    border-radius: 10px;
    position: fixed;
    padding: 10px;
    transition: 0.3s;
    z-index: 1;
}

.cart.active{
    right: 0%;
    color: black;
}

#cart-button{
    cursor: pointer;
    margin: 10px 0px;
}

.cart-remove{
    color: red;
}

.container-fluid{
    padding: 20px 0px;
}

.top{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    vertical-align: middle;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.wnav{
    margin-top: -52px;
    margin-bottom: 52px;
    transition: 0.3s;
}

.wnav:hover{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-weight: 500;
    color: greenyellow;
    font-size: 24px;
    transition: 0.3s color;
}

.cart-box{
    display: grid;
    grid-template-columns: 22% 50% 18%;
    align-items: center;
    gap: 1rem;
    border: solid 1px;
    padding: 5px 10px;
    margin: 10px 0px;
    height: 200px;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 20px;
    cursor: pointer;
}

.cart-img{
    width: 100px;
}

.cart-product-title {
    font-size: 20px;
    font-weight: 600;
}

.cart-price{
    font-weight: 200;
    margin: 5px 0px;
}

.cart-quantity{
    width: 100px;
    border-radius: 0px;
}

.pay_css{
    float: left;
    position: relative;
    display: flex;
}

.paym_form{
    margin-right: 20px;
    width: 80%;
}

.total-title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.total-price{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.mbutton{
    width: 100%;
    height: 40px;
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green;
    border-bottom: solid 3px gray;
    box-shadow: 2px 2px 35px 2px lightgray;
    border-radius: 10px;
    font-size: 20px;
}

.hide{
    display: none;
}

.mbutton1{
    width: 200px;
    height: 40px;
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    border-bottom: solid 3px gray;
    box-shadow: 2px 2px 35px 2px lightgray;
    border-radius: 10px;
    font-size: 20px;
}

.shop-content {
    display: grid;
    grid-row: 5;
    gap: 1.5rem;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
}

.product{
    margin-top: 2rem;
    position: relative;
    border: 1px solid;
    background-color: white;
    border-radius: 0px;
    padding: 20px 10px;
    transition: 0.5s;
}

.comment-list .user{
    display: flex;
    padding: 8px;
    overflow: hidden;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.comment-session{
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.comment-list{
    width: 100%;
    margin-bottom: 12px;
}

.product:hover{
    padding-top: 5px;
    padding-bottom: -5px;
    background-color: gainsboro;
}

.product_desc{
    text-align: justify;
    margin-top: 50px;
    word-wrap: break-word;
    width: 500px;
}

.comment_box{
    text-align: left;
    color: black;
    margin-top: 50px;
}

.vidguk{
    margin-top: 800px;
}

.comment_form input, .comment_form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    justify-content: center;
}

.comment_btn{
    width: 100px;
    height: 50px;
}

.avatar{
    border-radius: 50px;
}

.comment_profile{
    float: left;
}

.product_right{
    margin-left: 50px;
    text-align: left;
}

.btn_page{
    margin-top: 20px;
    font-size: 20px;
    margin-left: -5px;
}

.quantity{
    background-color: red;
    color: white;
    border-radius: 50px;
    vertical-align: middle;
    padding: 4px 10px;
}

.account{
    position: relative;
    right: 0;
}

.add{
    right: 0;
    border: 5px solid aliceblue;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.pd2{
    position: relative;
    vertical-align: middle;
    display: grid;
    grid-row: 2;
    gap: 0.5rem;
    margin: 0px 20px;
}

.total{
    display: flex;
    justify-content: space-between;
}

.buy-button{
    width: 100%;
    padding: 12px 20px;
    font-size: 20px;
}